@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: "Caveat";
  src: url("./assets/fonts/Caveat/Caveat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 200 300 400 500 600 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf")
    format("truetype");
  font-weight: 100 200 300 400 500 600 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("assets/fonts/IBM Plex Mono/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  @apply relative w-full h-dvh text-text-main font-body;
}

#root {
  @apply w-full h-full flex relative;
}

.btn {
  @apply bg-white shadow-btn-shadow py-2 px-6 rounded-full;
}

.book-info a {
  @apply text-main hover:underline
}

h1
 {
  @apply font-semibold;
}

h1,h2,h3,h4,h5,h6 {
  @apply font-header;
}

.primary-header {
  @apply text-3xl mt-14 max-sm:mt-8 max-sm:text-2xl max-sm:text-center;
}

.secondary-header {
  @apply text-xl text-text-secondary max-sm:text-lg max-sm:text-center
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #8a8a8a;
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e7e0ec;
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #e3d6ec;
  }
  .break-anywhere {
    overflow-wrap: anywhere;
  }
}
