.note-content {
  padding: 10px;
}

.note-content h1 {
  font-size: calc(1.375rem + 1.5vw);
}

.note-content h2 {
  font-size: calc(1.325rem + .9vw);
}

.note-content h3 {
  font-size: calc(1.3rem + .6vw);
}

.note-content h4 {
  font-size: calc(1.275rem + .3vw);
}

.note-content h5 {
  font-size: 1.25rem;
}

.note-content h6 {
  font-size: 1rem;
}

.note-content h1,
.note-content h2,
.note-content h3,
.note-content h4,
.note-content h5,
.note-content h6 {
  margin-bottom: .5rem;
  line-height: 1.2;
}

.note-content p {
  margin: 1rem 0;
}

.note-content blockquote {
  color: #7f8c8d;
  font-style: italic;
}

.note-content ul,
.note-content ol {
  padding-left: 2rem; /* Indent lists */
  margin: 1rem 0;
}

.note-content ul li {
  list-style-type: disc;
}

.note-content ol li {
  list-style-type: decimal;
}

.note-content blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  color: #555;
  font-style: italic;
  margin: 1rem 0;
  background-color: #f9f9f9;
}